/* You can add global styles to this file, and also import other style files */
:root {
  --ColorPrincipal: #785bc2;
  --ColorAlternante: #fcf304;

  --FuenteMartel: "Martel Sans", sans-serif;
  --FuenteZilla: "ZillaSlabHighlight";
  --FuenteMontserrat: "Montserrat";
  --FuenteYadelvi: "Yaldevi";
  --FuenteArchivo: "Archivo";
  --FuenteCalibri: "Calibri";
  --FuenteFinland: "Finland";
  --FuenteInduccion: "Induccion";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--FuenteCalibri);
}
.ng-valid:not(form).ng-touched {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form).ng-touched {
  border-left: 5px solid #a94442;
}
@font-face {
  font-family: "Induccion";
  src: url(./assets/fonts/FontsFree-Net-induction.ttf);
}

