<div class="dashboard-container">
    <nav class="dashboard">
        <ul class="dashboard-nav">
            <li><a routerLink="/dashboard/lista-usuarios" *ngIf="isAdmin">Ver Usuarios</a></li>
            <li><a routerLink="/dashboard/lista-productos" *ngIf="isAdmin">Agregar Productos</a></li>
            <li><a routerLink="/dashboard/perfil" *ngIf="!isAdmin">Mi perfil</a></li>
            <li><button (click)="LogOut()">Salir</button></li>

        </ul>
    </nav>

    <div class="dashboard-content">
        <router-outlet></router-outlet>
    </div>

    
</div>






