.navbar {
  width: 100%;
  height: 150%;
  margin-top: 0px;

  background-color: var(--ColorPrincipal);
}
.flex {
  display: flex;
  justify-content: space-around;
}
.logo{
  display: flex;
  align-items: flex-start;
}
.logotipo {
  font-family: Induccion;
  font-size: 30px;
  color: var(--ColorAlternante);
  margin: 30px;
  margin-right: 10px;
}
.img-logo{
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.btn {
  color: var(--ColorPrincipal);
  border: 1px solid var(--ColorAlternante);
  font-style: var(--FuenteYadelvi);
  background: var(--ColorPrincipal);
}
.btn-princ {
  margin-top: 30px;
  display: flex;
  flex-direction: reverse;
  align-items: center;
  justify-content: center;
}
.btn-prim {
  background-color: var(--ColorAlternante) !important;
  font-family: "Calib";
}
.st-btn-princ {
  font-family: var(--FuenteMartel);
  background-color: none;
  color: var(--ColorAlternante);
  margin: 10px;
  justify-content: center;
  height: 50%;
  width: 90%;
  border-radius: 100px;
  border-color: var(--ColorAlternante);
}

.btn:hover {
  background: var(--ColorAlternante);
  color: var(--ColorPrincipal);
}


.nav-bar {
    background-color: var(--ColorPrincipal);


}

.nav-bar ul {
    list-style: none;
    padding: 20px 10px;
    text-align: right;


}
 .nav-bar li {
    display: inline;

    padding: 20px 10px;
    margin: 10px;
 }

.nav-bar a {
    text-decoration: none;
    color: white;
    padding: 10px;

}

.nav-bar a:hover{
    color: var(--ColorPrincipal);
     background-color:white;

 }
