<header class="barra-nav">
  <div class="navbar">
  <div class="logo">
    <img src="./assets/images/logoArgenTour.png" class="img-logo" routerLink=" ">
    <h1 class="logotipo" routerLink=" " >argenTOUR</h1>
</div>
    <div class="btn-princ flex">

      <div class="flex">
        <button type="button" class="btn btn-warning st-btn-princ">Nosotros</button>

        <button type="button" class="btn btn-warning st-btn-princ"target="_blank"routerLink="/login">Ingresar</button>
        <button type="button" class="btn btn-warning st-btn-princ" data-bs-toggle="modal" data-bs-target="#modalRegistro" >Registrate</button>
        <button type="button" class="btn btn-warning st-btn-princ" routerLink="/dashboard/perfil">Dashboard</button>
      </div>
    </div>
  </div>


</header>
