<header class="barra-nav">
  <div class="navbar">
    <h1 class="logotipo" routerLink="/index" >ArgenTour</h1>

    <div class="btn-princ flex">

      <div class="flex">
        <button type="button" class="btn btn-warning st-btn-princ">Nosotros</button>

        <button type="button" class="btn btn-warning st-btn-princ">Ingresar</button>
        <button type="button" class="btn btn-warning st-btn-princ" data-bs-toggle="modal" data-bs-target="#modalRegistro" >Registrate</button>
        <button type="button" class="btn btn-warning st-btn-princ" routerLink="/dashboard">Dashboard</button>
      </div>
    </div>
  </div>


</header>
