
<div class="form-container">
    <form class="centered" [formGroup]="formularioProducto" (ngSubmit)="crearProducto()">
      <div class="form">
        <div class="row mb-3">
        <div class="col">
          <label for="nombre-del-producto">Nombre del producto:</label>
          <input type="text" class="form-control" id="nombre-del-producto" formControlName="nombre" placeholder="Nombre del producto" >
        </div>
        <div *ngIf="NombreProducto?.errors && NombreProducto?.touched">
          <p *ngIf="NombreProducto?.hasError('required')" class="text-danger">
            Campo requerido
          </p>
        </div>
        <div class="col">
          <label for="precio">Precio:</label>
          <input type="text" class="form-control" id="precio" formControlName="precio" placeholder="Precio">
          <div *ngIf="Precio?.errors && Precio?.touched">
            <p *ngIf="Precio?.hasError('required')" class="text-danger">
              Campo requerido
            </p>
          </div>
        </div>
        </div>
        <div class="row mb-3" >
          <div class="col">
            <label for="imagen-producto">Subir imagen:</label>
              <input type="file" class="form-control" id="imagen-producto" formControlName="imagen" placeholder="Subir imagen" accept=".jpg,.png">
              <div *ngIf="Imagen?.errors && Imagen?.touched">
                <p *ngIf="Imagen?.hasError('required')" class="text-danger">
                  Campo requerido
                </p>
              </div>
            </div>
          <div class="col">
            <label for="descripcion">Descripción:</label>
              <input type="text" class="form-control" id="descripcion" formControlName="descripcion" placeholder="Descripción del producto">
              <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                  Campo requerido
                </p>
              </div>
            </div>
            <div class="col">
              <label for="id-categoria">Categoria:</label>
                <input type="text" class="form-control" id="id-categoria" formControlName="id_Categoria">
                <div *ngIf="id_Categoria?.errors && id_Categoria?.touched">
                  <p *ngIf="id_Categoria?.hasError('required')" class="text-danger">
                    Campo requerido
                  </p>
                </div>
              </div>
              <div class="col">
                <label for="cantidad">Cantidad:</label>
                  <input type="text" class="form-control" id="cantidad" formControlName="cantidad">
                  <div *ngIf="Cantidad?.errors && Cantidad?.touched">
                    <p *ngIf="Cantidad?.hasError('required')" class="text-danger">
                      Campo requerido
                    </p>
                  </div>
                </div>
        </div>
        <div>
        <button class="btn btn-primary" type="submit">Crear Producto</button>
        </div>
      </div>
    </form>
  </div>
  
