.flex-forms {
  display: flex;
  justify-content: space-between;
  ;
  }


.form-container-usuario{
   position: absolute;
   top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.2));
    width: 420px;
    padding: 60px 50px;
    box-shadow:7px #000000;
    border-radius: 30px;
}
.form-container-usuario2{
    position: absolute;
    top: 50%;
    left: 70%;

    transform: translate(-50%, -50%);
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.2));
    width: 420px;
    padding: 60px 50px;
    box-shadow:7px #000000;
    border-radius: 30px;
}
.text-forms{
  font-size:30px;
  color: white;
}

.button-forms{
width: 93px;
height: 28px;
left: 269px;
top: 467px;
margin-top:30px;
border-bottom: none;
box-shadow:none;

background: #582BC6;
border-radius: 40px;
}
.input-forms{
  border-radius: 40px;
  width: 100%;
  box-sizing: 40%;
  margin-top: 20px;

}
