<div class="datos-section-container">
    <div class="datos-section-title" >
        <h1>Tus datos</h1>
        <hr>
    </div>
    <div class="info-section">
        <div class="account-info">
            <h2>Datos de la cuenta</h2>
            <ul>
                <li>Usuario: </li>
                <li>Correo: </li>    
            </ul>
        </div>
        <div class="personal-info">
            <h2>Datos personales</h2>
            <ul>
                <li>Nombre Completo: </li>
                <li>Apellido: </li> 
                <li>Ciudad: </li>
                <li>Documento: </li>
                <li>Teléfono: </li>   
            </ul>
        </div>
    </div>
</div>
