h1, h2{
    color: var(--ColorPrincipal);

}

ul{
    list-style-type: none;
}
li{
    margin:20px;
}

.datos-section-container{
    padding: 20px 30px;
}

.info-section{
    padding-top: 20px;
}






