
<div class="formulario">
    <h1>Ingresá</h1>
    <form method="post">
        <div class="username">
            <input type="text" required>
            <label>Correo electronico</label>
        </div>
        <div class="username">
            <input type="password" required>
            <label>Contraseña</label>
        </div>
        <div class="recordar">¿Olvido su contraseña?</div>
        <input type="submit" value="Entrar">
        <div class="registrarse">
            ¿No tienes cuenta? →  <a href="#">registro</a>
        </div>
    </form>
</div>