<div class="dashboard-container">
    <nav class="dashboard">
        <ul class="dashboard-nav">

            <li><a routerLink="/dashboard/perfil">Mi perfil</a></li>
            <li><a routerLink="/dashboard/boletos">Mis boletos</a></li>
            <li><a routerLink="/dashboard/favoritos">Favoritos</a></li>
            <li><a routerLink="/dashboard/metodos-de-pago">Métodos de pago</a></li>

        </ul>
    </nav>

    <div class="dashboard-content">
        <router-outlet></router-outlet>
    </div>

    
</div>






