
  

.nav-bar {
    background-color: var(--ColorPrincipal);
    

}

.nav-bar ul {
    list-style: none;
    padding: 20px 10px;
    text-align: right;

    
}
 .nav-bar li {
    display: inline;
    
    padding: 20px 10px;
    margin: 10px;
 }

.nav-bar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    
}

.nav-bar a:hover{
    color: var(--ColorPrincipal);
     background-color:white;
     
 }